
h1, h2, h3, h4, h5, h6{
    font-family: 'Merriweather', serif;
    font-weight: 700;
}

p, a{
    font-family: 'Mulish', sans-serif;
    font-weight: 400;
}

.nav-color{
    background-color: rgb(184, 130, 92);
    color: rgb(218, 222, 227);
}

nav img{
    width: 80%;
    height: auto;
}

nav ul li a{
    text-transform: uppercase;
}
#hero .row{
    background-image: url("Images/hero-img.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 45vh;
    position: relative;

}

.bg-text{
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.55);
    color: rgb(232, 218, 204);
    z-index: 1;
    letter-spacing: 2px;
}

.paris-studio{
    padding: 15px 65px;
    letter-spacing: 4px;
    border: 2px solid rgb(232, 218, 204);
}

.btn-hero{
    background-color: rgb(184, 130, 92);
    color: rgb(232, 218, 204);
    border: 2px solid rgb(232, 218, 204);
    font-size: 0.8rem;
    font-weight: 500;
    letter-spacing: 1px;
    transition: all ease 0.4s;
}

.btn-hero:hover{
    background-color: rgb(218, 222, 227);
    color: rgb(184, 130, 92);
}

.icon-border{
    border-radius: 50%;
    border: 3px solid rgb(184, 130, 92)
}

.icon-border img{
    max-width: 100%;
    height: auto;
}


.btn-brown{
    background-color: rgb(184, 130, 92);
    color: rgb(232, 218, 204);
    font-size: 1rem;
    letter-spacing: 1px;
    transition: scale ease 0.3s;
}

.btn-brown:hover{
    scale: 1.05;
    color: rgb(232, 218, 204);

}

#about p{
    line-height: 1.85rem;
    color: rgb(158, 158, 158);
}

h5{
    color: rgb(184, 130, 92);
    letter-spacing: 1.5px;
}

#latest-projects img{
    max-width: 100%;
    height: 100%;
    object-fit: cover;
}

.buy-now-section{
    background-color: rgba(184, 130, 92, 0.35);
    color: rgb(184, 130, 92);
    line-height: 1.85rem;
    height: 10vh;
}

@media only screen and (max-width: 400px) {
    .paris-studio{
        padding: 5px 10px;
    }
}
